body{
    color:white;
    height: 100%;
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-sizing: border-box;
}
header{
    background-color: black;
    background-image: url('banner\ image.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    

    text-align: center;
    min-height: fit-content;
    top:0;
    width: 100%;
    margin:0;
    padding:2px;
}

h1{
    font-size: 500%;
}
h2{
    font-size: 300%;
}
h3{
    font-size: 200%;
}
a{
    color:white;

}
.bg{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: -1;

    background-image:linear-gradient(180deg, hotpink, blueviolet);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
main{
    min-height: 100vh;
    margin: 2%;
}

img{
    width: 50%;
}

.projectRow{
    margin: 2%;
    display: table;
    text-align: center;
    padding: 5%;
}


.projectCol{
    background-color: black;
    padding:5px;
    max-width: 100em;
    display: table-cell;
    border-spacing: 30%;
}
.paraBlock{margin:auto;}
/* mobile */
.projectCol{width:50%;}
.paraBlock{width:50%;}
/*tablets*/
@media only screen and (min-width:600px){
    .projectCol{width:50%;}
    .paraBlock{width:50%;}
}

/*Desktop*/
@media only screen and (min-width:768px){
    .projectCol{width:50%;}
    .paraBlock{width:50%;}
}

footer{
    background-color: black;
    min-height: fit-content;
    bottom:0;
    width: 100%;
    margin:0;
    padding:0;
}
footer p{
    margin:0;
    padding:0;
}
